*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

/* index.html */

#header{
    height: 220px;
    background-image: url(images/background-image.jpg);
}

#logo{
    width: 900px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#logo h1{
    color: white;
    letter-spacing: 5px;
    padding-top: 42px;
    font: 38px, "century gothing", arial, sans-serif;
}

.logo-rengi{
    color: #1293ee;
}

#logo h2{
    color: yellowgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 3px;
    padding-left: 4px;
}

#menu{
    width: 680px;
    height: 70px;
    margin-left: 23%;
    background-color: #1293ee;
}

#menu ul li{
    float: left;
    display: block;
    height: 35px;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
}

#menu ul li a{
    text-decoration: none;
    color: white;
}

.active{
    background-color: #0d66a5;
}

#content{
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#icerik{
    width: 670px;
    height: auto;
    float: left;
}

#sidebar{
    width: 230px;
    height: 725px;
    float: left;
}

.baslik{
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 2px;
    color: #1293ee;
}

.paragraf{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 1px;
    padding-bottom: 35px;
}

#sidebar .link{
    color: #777;
    padding-top: 10px;
    padding-right: 16px;
    padding-left: 40px;
    padding-bottom: 20px;
    margin-left: 10px;
    line-height: 30px;
    list-style: circle;
}

#sidebar h2{
    font: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1293ee;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
}

a:link{
    color: blue;
}

a:visited{
    color: #1293ee;
}

a:hover{
    color: crimson;
}

#clear{
    clear: both;
}

#ownphoto{
    width: 180px;
    height: 180px;
    margin: 30px;
    float: left;
}

#footer{
    width: 900px;
    height: 33px;
    text-align: center;
    background-color: #1293ee;
    color: #fff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 24px;
}

/* egitim.html ve iletisim.html */

.aboutcontent{
    border-style: groove;
    background-color:antiquewhite;
    padding: 3%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.aboutcontent h1{
    color: #1293ee;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.aboutcontent h3{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.aboutcontent p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 5px;
}

#iletisimformu{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    border-style: groove;
    background-color:antiquewhite;
    padding: 3%;
    margin-top: 20px;
}

.map{
    margin-top: 20px;
    margin-bottom: 40px;
}

label, input{
    display: inline-block;
}

label{
    width: 30%;
}

/* album.html */

.bilgi{
    display: flex;
    background-color: #ddd;
    height: 200px;
    width: 50%;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.bilgi > h1{
    margin-top: 70px;
    margin-left: 250px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: yellowgreen;
}

.photo{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 20px;
    margin-bottom: 50px;
    float: left;
}

.res{
    height: 300px;
    width: 300px;
    border-style: groove;
}

.sidebar{
    float: left;
}

